<!doctype html>
<html ng-app>
<head>
    <title>First Angular Page</title>
    <script type="text/javascript" src="main.js"></script>
    <script src="lib/angular/angular.js"></script>
</head>
<body>

<img ng-src="img/Face_Neutral_1.jpg"></img>


<div ng-controller="StudentsCtrl">

   <h2>Total Students: {{getNumStudents()}}</h2>
   <li ng-repeat="student in students">
      <img ng-src="img/Face_Neutral_3.jpg"></img>
      {{student.name}}
   </li>
</div>


 <button ng-click="count = count + 1" ng-init="count=0">
   Increment
 </button>
 count: {{count}}




</body>
</html>
