<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>SimEdu</title>
  <!--
  <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
  <link rel="stylesheet" href="modal.css">
  -->
  <%= yield %>

</head>
<body>
  <div ng-app="myApp">
    <div ng-controller="LoginCtrl">
      <h2>
        username: 
        <input type="text" ng-model="username"><br>
  <%= link_to 'Start Class!', '/users/{{testLogin(username)}}' %>
      </h2>





   </div>
  </div>

</body>
</html>



<br><br>
<%= link_to 'Create New User', new_user_path %>
