<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>SimEdu</title>
  <!--
  <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
  <link rel="stylesheet" href="modal.css">
  -->
  <%= yield %>

</head>
<body>
	
	<h2>User not found!</h2>

	<td><%= link_to 'Back', '/users' %></td>



</body>
</html>


