<footer class="footer">
  <small>
    By
    <a href="https://www.luckybirdgames.com">Brady Fukumoto</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.edsurge.com/">News</a></li>
    </ul>
  </nav>
</footer>